<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Proyecto Final</title>
</head>
<body>
  {{{body}}} {{! acá se va a renderizar el contenido de cada vista, por ejemplo products o cart }}
</body>
</html>
